.ims-search-form-wrapper {
  position: relative;
  width: 100%;
  height: fit-content;

  .ims-search-form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .ims-search-form-children {
    position: relative;
    display: block;
    flex: none;
    width: 100%;
  }

  .ims-search-form-action-wrapper {
    .ims-search-form-action {
      display: flex;
      align-items: center;
      height: 44px;
      color: var(--ant-color-primary, --colorPrimary);

      &:hover {
        border-color: var(--ant-color-primary, --colorPrimary);
        color: var(--ant-color-primary-hover, --colorPrimaryHover);
      }

      &:active {
        color: var(--ant-color-primary-active, --colorPrimaryActive);
      }

      .expand {
        transition: 0.3s;
        transform-origin: center;
      }

      .close {
        transition: 0.3s;
        transform: rotateZ(180deg);
        transform-origin: center;
      }
    }
  }

  .ant-form-item {
    margin-right: 0;
    margin-bottom: var(--itemBottomHeight, 4px) !important;

    .ant-row {
      width: 100%;
    }

    .ant-picker {
      width: 100%;
    }
  }

  .ant-select-arrow {
    right: 9px;
  }

  .ant-form-item,
  .ant-legacy-form-item {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-bottom: 5px;

    .ant-form-item-label {
      overflow: hidden;
      padding-right: 8px;
      max-width: 120px;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all;
      line-height: normal;
    }

    .ant-form-item-control {
      line-height: normal;

      &-wrapper {
        flex: 1;
      }
    }
  }

  .ant-select-selection-overflow-item {
    .ant-select-selection-item {
      background: #ebf2ff;
      color: var(--ant-color-primary, --colorPrimary);
      font-weight: 400;
      font-size: 12px;
    }
  }

  .ant-form-item {
    margin-right: 0 !important;

    margin-inline-end: 0;
  }

  .ant-form-item {
    .ant-row {
      width: 100%;
    }

    .ant-picker {
      width: 100%;
    }
  }

  .ant-picker.ant-picker-borderless {
    left: 20% !important;
    height: 32px;
    border: 1px solid #b8cdff !important;
    background-color: rgba(255, 255, 255, 1) !important;
  }

  .ant-radio-group {
    margin-left: 0px;
    height: 25px;
  }

  .ant-picker-large .ant-picker-input > input {
    font-size: 12px;
  }

  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    &:focus-within {
      box-shadow: none;
    }
  }

  .ant-radio-button-wrapper {
    border-color: rgba(184, 205, 255);
    background-color: #fff;
    color: rgba(11, 10, 25, 0.65);

    &:hover {
      color: var(--ant-color-primary-hover, --colorPrimaryHover) !important;
    }
  }

  .ant-radio-button-wrapper-checked:not(
      [class*=' ant-radio-button-wrapper-disabled']
    ).ant-radio-button-wrapper:first-child {
    border-radius: 2px 0 0px 2px !important;
  }

  .ant-radio-button-wrapper-checked:not(
      [class*=' ant-radio-button-wrapper-disabled']
    ).ant-radio-button-wrapper:last-child {
    border-radius: 0 2px 2px 0 !important;
  }

  .ant-radio-button-wrapper-checked:not(:first-child)::before {
    background-color: rgba(184, 205, 255);
  }

  .ant-radio-button-wrapper:not(:first-child)::before {
    background-color: rgba(184, 205, 255);
  }

  .ant-radio-button-wrapper-checked {
    border-color: rgba(184, 205, 255) !important;
    background: #e0ecff !important;
    color: var(--ant-color-primary, --colorPrimary) !important;

    &:not(:first-child)::before {
      background-color: #b8cdff !important;
    }

    &:hover {
      border: 1px solid var(--ant-color-primary, --colorPrimary) !important;
      background-color: rgb(224, 236, 255);

      &:not(:first-child)::before {
        background-color: var(--ant-color-primary, --colorPrimary) !important;
      }
    }
  }
}

.CommonSearch-Ellipsis {
  white-space: break-spaces;
}
